* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --accent: #cb8589;
  --mid: #d7b29d;
  --dark: #796465;
  --pale1: #e8d2ae;
  --pale2: #dde8b9;
}

/*
  --header-height: 75px;
  --footer-height: 50px; */
