* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --accent: #14213d;
  --mid: #14213d;
  --dark: #4b88a2;
  --pale1: #e5e5e5;
  --pale2: #ffffff;
}

/*
  --header-height: 75px;
  --footer-height: 50px; */
