.create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark);
  font-size: 1.4rem;
}

.create__question {
  margin-top: 100px;
}

.question__text {
  border-radius: 20px;
  background-color: var(--pale1);
  padding: 10px;
  margin: 10px;
  margin-bottom: 30px;
  color: var(--dark);
  width: 500px;
}
.answers__text {
  margin-bottom: 1px;
  margin-top: 1px;
}
.answers {
  border-radius: 20px;
  background-color: var(--pale1);
  width: 500px;
  padding: 5px;
  margin: 5px;
  color: var(--dark);
}
.right__answer {
  margin-top: 30px;
  margin-bottom: 5px;
}

.submit__btn {
  border-radius: 20px;
  width: 150px;
  padding: 6px;
  margin: 2rem;
  color: var(--pale1);
  background-color: var(--dark);
}

.tags {
  border-radius: 20px;
  background-color: var(--pale1);
  padding: 10px;
  margin: 5px;
  color: var(--dark);
  width: 500px;
}

.add__tags {
  margin-top: 20px;
}
