.profile__info {
  display: flex;
  align-items: center;
  left: 10px;
  top: 60px;
  margin: 10px;
  color: var(--accent);
}
.profile__pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 10px;
}

.aboutMe {
  margin: 20px;
  color: var(--dark);
}

.my__tags h2 {
  color: var(--dark);
  margin-bottom: 10px;
}
.my__tags {
  margin: 20px;
  display: flex;
  flex-direction: column;
  _align-items: flex-start;
  _justify-content: center;
}
.my__tags__items {
  _display: flex;
  _flex-direction: row;
  _flex-wrap: wrap;
  _column-gap: 15px;
  _row-gap: 15px;
  _list-style: none;
  font-size: 12px;
  background-color: var(--pale1);
  color: var(--dark);
  border-radius: 5px;
  padding: 5px 5px;
  border: 1px solid var(--accent);
  width: 90px;
  display: flex;
  flex-direction: row;
}

.my__tags_ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.my__tags h3 {
  color: var(--dark);
  padding-bottom: 10px;
}

.logout {
  color: var(--pale1);
  background-color: var(--dark);
  border-radius: 15px;
  width: 100px;
  height: 25px;
  margin: 30px 0 0 20px;
}
.profile-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
