.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 100px;
}

.card {
  background-color: var(--pale1);
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: fit-content;
  padding: 20px;
  border-radius: 30px;
  border: 1px solid var(--accent);
  position: relative;
}

.card__text {
  padding: 20px;
  hyphens: auto;
  text-align: justify;
  color: var(--accent);
  font-size: 1.5rem;
}

.card__submit {
  display: flex;
  justify-content: center;
}

.card__question {
  color: var(--accent);
  padding-left: 20px;
  padding-top: 20px;
}

.bookmark__icon {
  position: absolute;
  top: 15px;
  right: 15px;
  filter: invert();
  width: 30px;
}

.question__tags ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin: 20px 0 0 0;
  list-style: none;
  justify-content: space-around;
  text-decoration: none;
}

.card__answers button {
  border: 1px solid var(--dark);
  width: 100px;
  height: 30px;
  margin-left: 20px;
  background-color: var(--pale1);
}

.question__tags ul {
  display: flex;
  gap: 15px;
  padding: 20px;
  padding-bottom: 0px;
}

.question__tag__item {
  _list-style: none;
  border: 1px solid var(--accent);
  border-radius: 20px;
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  _text-decoration-line: none;
}
