* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --accent: #22333b;
  --mid: #14213d;
  --dark: #4b88a2;
  --pale1: #e5e5e5;
  --pale2: #ffffff;
}

main {
  _height: calc(100vh - 60px - 40px);
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 100px 0;
}

body {
  background: var(--pale1);
}
