footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--pale1);
  background: var(--dark);
  height: 80px;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.nav {
  position: fixed;
  width: 100%;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__list__item {
  display: flex;
  justify-content: center;
}

.footer__icon {
  width: 25px;
}

.footer__icon__current {
  filter: invert();
}
